@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(20, 100, 219);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 2em;
    padding: 0 2em 0 1em;
}

.header .navbar {
    /* background-color: #0e2344; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    padding: 20px;
    flex: 1;
    width: 100%;
    max-width: 1200px;
}

.header .logo {
    background-image: url('img/logo.svg');
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    min-width: 80px;
}

.header .title {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 1.5em;
}

.header .title h1 {
    font-weight: normal;
    margin: 0;
}

.header .title .subtitle {
    font-weight: lighter;
}


.button-github {
    display: flex;
    height: 52px;
    padding: 0em 0.8em;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    background-color: rgb(31, 31, 31);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-github:hover {
    text-decoration: none;
    background-color: rgb(26, 26, 26);
}

.button-github::before {
    content: " ";
    justify-self: start;
    margin-right: 0.5em;
    width: 32px;
    height: 32px;
    min-width: 32px;
    background-image: url('./img/GitHub-Mark-Light-32px.png');
}

.jumbotron {
    max-width: 100vw;
    display: flex;
    flex: 1;
    padding: 0 2em 0 1em;
    justify-content: center;
}

.copy-paste-here {
    position: absolute;
    top: 0px;
    left: -30px;
    background-image: url('img/copy-paste-here.svg');
    width: 400px;
    height: 100px;
}

.bg-rect {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    background-color: rgba(0,0,0,0.1);
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.2));
    min-height: 600px;
    width: 150%;
    transform: rotate(-10deg) translate(0%, -50%);
}

.hello-world {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: stretch;
    align-items: stretch;
    padding: 40px 0px 100px 0;
    max-width: 1200px;
}

.hello-world canvas {
    flex: 1;
    display: flex;
    height: 400px;
    width: 100%;
    border-radius: 6px;
    box-sizing: content-box;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section {
    display: flex;
    flex: 1;
    padding: 2em 2em 4em 1em;
    justify-content: center;
}

.section.light {
    background-color: #fff;
    color: #333;
}
.section.light a {
    color: #333;
}

.section .inner {
    display: flex;
    width: 1200px;
}

.section h3 {
    display: inline-block;
    padding: 0.2em 0.5em;
    margin-top: 0;
    margin-bottom: 0.2em;
    background-color: #fff;
    color:rgb(20, 100, 219);
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.025em;
    border-radius: 6px;
}
.section.light h3 {
    background-color:rgb(20, 100, 219);
    color: #fff;
}

.fill {
    flex: 1;
}

.section pre {
    background-color: rgb(21, 18, 27);
    color: rgb(221, 221, 221);
    border-radius: 5px;
    padding: 0 1em;
    display: inline-block;
    margin-left: 0.6em;
}


.section canvas {
    border-radius: 5px;
}

.section p {
    padding-left: 0.6em;
}

.no-screenshot {
    background-image: url('./img/no-screenshot.png');
    background-size: 100% 100%;
    width: 300px;
    height: 300px;
    min-width: 300px;
    margin: 1em 5vw 0 5vw;
}

.contribute {
    width: 600px;
    max-width: 600px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.text-left {
    margin-right: 2em;
}

ul.check {
    margin: 0;
    list-style-image: url('./img/check.png');
    margin-right: 2em;
}

ul.check li {
    min-height: 1.5em;
    line-height: 1.5em;
}

.nowrap {
    white-space: nowrap;
}

.padding-top {
    padding-top: 1.5em;
}

.footer {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 0.8em;
    height: 80px;
    text-align: center;
}

.footer a, .footer {
    color:rgb(149, 181, 228);
}


.code-keyword {
    color: #E14A6E;
}
.code-attribute {
    color: #FFCB6B;
}
.code-value {
    color: #A6E883;
}

@media screen and (max-width: 1000px) {
    .button-github {
        font-size: 0.6em;
    }

    .section {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .horizontal.break-1000 {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {
    .break-760 {
        flex-direction: column;
        align-items: center;
    }

    
    .section pre {
        font-size: 0.7em;
    }
}


.break-left {
    align-items: flex-start;
}